@import "tailwindcss";

@theme{
  --color-background: #000000;
  --color-text: #ffffff;
  --color-primary: #f13024;

  --font-sora: var(--font-sora);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1441px;
  --breakpoint-3xl: 1537px;
  --breakpoint-4xl: 1600px;
}